html    {   font: 100%/1.5 Arial, sans-serif;       }
p { line-height: 1.5;
    margin: 0 0 1em;    }
    
.indent p+p {   text-indent: 2em;
                margin-top: -1em;   }
   
code,
pre     {   font-family: monospace, serif;
            font-size: 1em;
 }            
 blockquote {
 font-family: Courier monospace; 
}
 
blockquote:before { 
 content: "\201C";
 display: inline-block;
 padding-right: .4em;
}


 header h1 {
   float:left;
     text-shadow: 1px 1px 0px rgba(30, 30, 30, 0.8);
     line-height:1em;
     width:11em;
     padding:0;
    
   }

    header h4 {
      float:left;
          
    margin-bottom:-1em;
     color:rgb(17,53,119);
   }
   
     aside h4 {
  text-decoration:none;
  text-align:center;
}
aside p {
 padding-left:1em; 
}

section h1,h2,h3 {
  text-align:center;
  margin-bottom:0em;
}


article h1 {
 color:rgb(255,222,162);
 text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
 padding-left:2em;
text-align:center;
 
}
article p{
  font-size:.96em;
  text-indent:1.5em;
  padding-top:1em;
}

nav
{
  
font-size: .861em;
   margin-top: 0em;
  margin-bottom:0em;
  background: transparent;
  padding-top:5px;
}
nav h3 {
font-size: 1.17em;
  
}

  nav a h4 {
    text-decoration:none;
    background:rgb(17,53,119);
  }
  
  .blue {
    color:rgb(46,18,121);
  }
  
  .brown{
    color:rgb(145,100,17);
  }
 .crossout {
   text-decoration:line-through;
 }
 ul.circle {list-style-type: circle;}
ul.square {list-style-type: square;}
ol.upper-roman {list-style-type: upper-roman;}
ol.lower-alpha {list-style-type: lower-alpha;}